    <!-- jQuery Frameworks
    ============================================= -->
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/equal-height.min.js"></script>
    <script src="js/jquery.appear.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/modernizr.custom.13711.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/count-to.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.backgroundMove.js"></script>
    <script src="js/bootsnav.js"></script>
    <script src="js/main.js"></script>

</body>
</html>