<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->

  <head>
    <!-- Site Title -->
    <title>MemeNet API</title>

    <!-- <script data-pace-options='{ "ajax": false }' src="//vendor/pace/pace.min.js"></script> -->

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- BEGIN: Page Level CSS-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/backend/css/materialize.css"
    />
    <link rel="stylesheet" type="text/css" href="/backend/css/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/backend/css/perfect-scrollbar/perfect-scrollbar.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/backend/css/noUiSlider/nouislider.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/backend/css/custom/custom.css"
    />
    <!-- END: Custom CSS-->
    <style>
      .pace {
        -webkit-pointer-events: none;
        pointer-events: none;

        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      .pace-inactive {
        display: none;
      }

      .pace .pace-progress {
        background: #29b6f6;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        box-shadow: 0px 0.5px 1px lightgray;
      }
    </style>
  </head>
  <!-- END: Head-->

  <body>
    <!-- BEGIN: Header-->
    <header id="header">
      <div class="navbar navbar-fixed">
        <nav
          class="navbar-main navbar-color nav-collapsible navbar-dark gradient-45deg-blue-purple no-shadow"
        >
          <div class="nav-wrapper">
            <ul class="navbar-list right">
              <li>
                <a
                  class="waves-effect waves-block waves-light profile-button"
                  href="javascript:void(0);"
                  data-target="profile-dropdown"
                >
                  <span class="avatar-status avatar-online">
                    <img src="/images/avatar/ninja.png" alt="avatar" /><i></i>
                  </span>
                </a>
              </li>
            </ul>
            <!-- profile-dropdown-->
            <ul class="dropdown-content" id="profile-dropdown">
              <li>
                <a class="grey-text text-darken-1" href="#"
                  ><i class="material-icons">person_outline</i>Profile</a
                >
              </li>
              <li>
                <a class="grey-text text-darken-1" href="#"
                  ><i class="material-icons">help_outline</i>Help</a
                >
              </li>
              <li class="divider"></li>
              <li>
                <a class="grey-text text-darken-1" href="/login"
                  ><i class="material-icons">keyboard_tab</i>Logout</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- END: Header-->

    <!-- BEGIN: SideNav-->
    <aside
      class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-light sidenav-active-square"
    >
      <div class="brand-sidebar">
        <h1 class="logo-wrapper">
          <a class="brand-logo darken-1" href="#">
            <img src="/img/logo.png" alt="materialize logo" />
            <span class="logo-text hide-on-med-and-down">MemeNet</span>
          </a>
          <a class="navbar-toggler" href="#"
            ><i class="material-icons">radio_button_checked</i></a
          >
        </h1>
      </div>
      <ul
        class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow pt-3"
        id="slide-out"
        data-menu="menu-navigation"
        data-collapsible="menu-accordion"
      >
        <li class="bold">
          <a class="waves-effect waves-cyan active">
            <i class="material-icons">home</i
            ><span class="menu-title" data-i18n="">Dashboard</span>
          </a>
        </li>
      </ul>
      <div class="navigation-background"></div>
      <a
        class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only indigo"
        href="#"
        data-target="slide-out"
        ><i class="material-icons">menu</i></a
      >
    </aside>
    <!-- END: SideNav-->

    <!-- BEGIN: Section-->
    <div id="main">
      <!-- @yield('content') -->
      <div class="chart-container" style="position: relative; height: 400px; width: 400px">
        <canvas id="myChart" width="400" height="400"></canvas>
      </div>
    </div>
    <footer
      class="page-footer footer footer-static footer-dark gradient-45deg-blue-purple gradient-shadow navbar-border navbar-shadow"
    >
      <div class="footer-copyright">
        <div class="container">
          <span
            >&copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            <a href="#" target="_blank">MemeNet API</a> All rights
            reserved.</span
          >
          <span class="right hide-on-small-only"
            >Design and Developed by
            <a href="http://it.stts.edu">APALAH TEAM</a></span
          >
        </div>
      </div>
    </footer>
  </body>
  <script src="/backend/js/chart.js" type="text/javascript"></script>
  <script>
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: <%- JSON.stringify(labels); %>,
            datasets: [{
                label: 'Requests Count',
                data: <%- JSON.stringify(hit_count); %>,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        },
        responsive: true
    });
  </script>
  <script src="/backend/js/jquery/jquery.js" type="text/javascript"></script>
  <script src="/backend/js/materialize.js" type="text/javascript"></script>
  <script
    src="/backend/js/perfect-scrollbar/perfect-scrollbar.min.js"
    type="text/javascript"
  ></script>
  <script
    src="/vendor/sweetalert2/dist/sweetalert2.min.js"
    type="text/javascript"
  ></script>
  <script
    src="/backend/js/noUiSlider/nouislider.js"
    type="text/javascript"
  ></script>
  <script src="/backend/js/plugins.js" type="text/javascript"></script>

  <script
    src="/backend/js/custom/custom-script.js"
    type="text/javascript"
  ></script>
  <script src="/vendor/custom/basic.js" type="text/javascript"></script>
</html>
