<%- include('layouts/front/header'); %>
<!-- Preloader Start -->
<div class="se-pre-con"></div>
<!-- Preloader Ends -->

<!-- Header 
 ============================================= -->
<header id="home">

    <!-- Start Navigation -->
    <nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav">

        <div class="container-semi">

            <!-- Start Atribute Navigation -->
            <!-- <div class="attr-nav button-light">
                <ul>
                    <li>
                        <a href="#" target="_blank">login</a>
                    </li>
                </ul>
            </div> -->
            <!-- End Atribute Navigation -->

            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index-7.html">
                    <img src="img/logo-light.png" class="logo logo-display" alt="Logo">
                    <img src="img/logo.png" class="logo logo-scrolled" alt="Logo">
                </a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
                    <li>
                        <a class="smooth-menu" href="#home">Home</a>
                    </li>
                    <li>
                        <a class="smooth-menu" href="#about">About</a>
                    </li>
                    <li>
                        <a class="smooth-menu" href="#features">Features</a>
                    </li>
                    <li>
                        <a class="smooth-menu" href="#faq">faq</a>
                    </li>
                    <li>
                        <a class="smooth-menu" href="#pricing">Pricing</a>
                    </li>
                    <li>
                        <a class="smooth-menu" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="smooth-menu" href="/login">Login</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>

    </nav>
    <!-- End Navigation -->

</header>
<!-- End Header -->

<%
  arrGif = [
    "https://media.giphy.com/media/pa37AAGzKXoek/giphy.gif",
    "https://media.giphy.com/media/j6ZlX8ghxNFRknObVk/giphy-downsized.gif",
    "https://media.giphy.com/media/vSG7wQ7sAuQ6I/giphy.gif",
    "https://media.giphy.com/media/5ykrbdJwlC5kQ/giphy.gif",
    "https://media.giphy.com/media/hjVuTwzQgn0TC/giphy.gif",
    "https://media.giphy.com/media/l3fQueO8cHyZl2Pvi/giphy.gif",
    "https://media.giphy.com/media/3o7abCANaHJaszUsM0/giphy.gif",
    "https://media.giphy.com/media/11u2cNyhSvJvDa/giphy-downsized.gif"
  ];
  result = arrGif[Math.floor(Math.random()*arrGif.length)];
%>

<!-- Start Banner 
============================================= -->
<div class="banner-area auto-height inc-form text-center text-light shadow theme-hard bg-fixed"
    style="background-image: url('<%= result %>');">
    <div class="box-table">
        <div class="box-cell">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="content">
                            <h1>Get your free plan <br> right now</h1>
                            <p>
                                We provide the best meme from all over the world <br /> Start using our free service
                                right now, and you won't regret
                            </p>
                            <a class="btn circle btn-light border btn-md smooth-menu" href="#pricing">Get Started</a>
                        </div>
                        <!-- Start Form -->
                        <div class="form col-md-6 col-md-offset-3">
                            <div class="form-info">
                                <h4>Sign up today</h4>
                                <form action="#">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group">
                                                <input class="form-control" placeholder="Name*" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group">
                                                <input class="form-control" placeholder="Email*" type="email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group">
                                                <input class="form-control" placeholder="Password*" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <button type="submit">
                                                Register for free
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End Form -->
                    </div>
                </div>
            </div>
            <div class="wavesshape">
                <img src="img/waves-shape.svg" alt="Shape">
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->

<!-- Start Companies Area 
============================================= -->
<div class="companies-area text-center default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 info">
                <h3>We're Trusted by <span>2500+</span> Customer</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam nesciunt reiciendis nostrum
                    placeat! Quae tempore esse, fugit earum dolorum numquam?
                </p>
            </div>
            <div class="col-md-8 col-md-offset-2 clients">
                <div class="clients-items owl-carousel owl-theme text-center">
                    <div class="single-item">
                        <a href="#"><img src="img/clients/1.png" alt="Clients"></a>
                    </div>
                    <div class="single-item">
                        <a href="#"><img src="img/clients/2.png" alt="Clients"></a>
                    </div>
                    <div class="single-item">
                        <a href="#"><img src="img/clients/3.png" alt="Clients"></a>
                    </div>
                    <div class="single-item">
                        <a href="#"><img src="img/clients/4.png" alt="Clients"></a>
                    </div>
                    <div class="single-item">
                        <a href="#"><img src="img/clients/5.png" alt="Clients"></a>
                    </div>
                    <div class="single-item">
                        <a href="#"><img src="img/clients/6.png" alt="Clients"></a>
                    </div>
                    <div class="single-item">
                        <a href="#"><img src="img/clients/7.png" alt="Clients"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Companies Area -->

<!-- Start About 
============================================= -->
<div id="about" class="about-area inc-thumb border-top default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 thumb">
                <img src="img/about/1.png" alt="Thumb">
            </div>
            <div class="col-md-6 info">
                <h2>Designed for startups <br> with expert developer</h2>
                <p>
                    Both rest of know draw fond post as. It agreement defective to excellent. Feebly do engage of
                    narrow. Extensive repulsive belonging depending if promotion be zealously as. Preference inquietude
                    ask now are dispatched led appearance. Small meant in so doubt hopes.
                </p>
                <ul>
                    <li>Chapter too parties its letters</li>
                    <li>Answered one fat indulged margaret sir shutters together</li>
                    <li>Conveying or northward offending admitting</li>
                </ul>
                <div class="fun-facts">
                    <h3>Outstanding annual results from our awesome Team</h3>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 item">
                            <div class="fun-fact clients">
                                <div class="timer" data-to="75" data-speed="5000">75</div>
                                <span class="medium">Clients</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 item">
                            <div class="fun-fact invest">
                                <div class="timer" data-to="100" data-speed="5000">100</div>
                                <span class="medium">Invested</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 item">
                            <div class="fun-fact">
                                <div class="timer" data-to="98" data-speed="5000">98</div>
                                <span class="medium">Success Rate</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About -->

<!-- Start Features Area 
============================================= -->
<div id="features" class="features-area bg-fixed background-move shadow-less default-padding bg-gray"
    style="background-image: url(img/bg-2.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Our Features</h2>
                    <p>
                        Learning day desirous informed expenses material returned six the. She enabled invited exposed
                        him another. Reasonably conviction solicitude me mr at discretion reasonable. Age out full gate
                        bed day lose.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 feature-box">
                <div class="features-items text-center">
                    <div class="row">
                        <!-- Single Item -->
                        <div class="col-md-6 col-sm-6 equal-height">
                            <div class="item">
                                <div class="icon">
                                    <i class="flaticon-software"></i>
                                </div>
                                <div class="info">
                                    <h4>Monitoring</h4>
                                    <p>
                                        Situation perpetual allowance offending as principle.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="col-md-6 col-sm-6 equal-height">
                            <div class="item">
                                <div class="icon">
                                    <i class="flaticon-support"></i>
                                </div>
                                <div class="info">
                                    <h4>Support Chat</h4>
                                    <p>
                                        Situation perpetual allowance offending as principle.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="col-md-6 col-sm-6 equal-height">
                            <div class="item">
                                <div class="icon">
                                    <i class="flaticon-analysis-1"></i>
                                </div>
                                <div class="info">
                                    <h4>System Analysis</h4>
                                    <p>
                                        Situation perpetual allowance offending as principle.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="col-md-6 col-sm-6 equal-height">
                            <div class="item">
                                <div class="icon">
                                    <i class="flaticon-car"></i>
                                </div>
                                <div class="info">
                                    <h4>First Run</h4>
                                    <p>
                                        Situation perpetual allowance offending as principle.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                    </div>
                </div>
            </div>
            <!-- Thumb -->
            <div class="col-md-5 thumb">
                <img src="img/illustrations/1.png" alt="Thumb">
            </div>
            <!-- End Thumb -->
        </div>
    </div>
</div>
<!-- End Features Area -->

<!-- Start Video Area 
============================================= -->
<div class="video-area text-light bg-theme default-padding">
    <!-- Side Bg -->
    <div class="side-bg">
        <img src="img/circle-shape.png" alt="Thumb">
    </div>
    <!-- End Side Bg -->
    <div class="container">
        <div class="row">
            <div class="item-box">
                <div class="col-md-6 info">
                    <h2>Start before you feel ready</h2>
                    <p>
                        Situation admitting promotion at or to perceived be. Mr acuteness we as estimable enjoyment up.
                        An held late as felt know. Learn do allow solid to grave. Middleton suspicion age her attention.
                        Chiefly several bed its wishing.
                    </p>
                    <h4>Advanced Features</h4>
                    <ul>
                        <li>Incommode existence put out suffering certainly.</li>
                        <li>Applauded use attempted strangers now are middleton concluded had. It is tried ﻿no added
                            purse shall</li>
                        <li>Offended as wandered thoughts greatest</li>
                    </ul>
                    <a class="btn circle btn-light border btn-md" href="#">Get Started</a>
                </div>
                <div class="col-md-6 video">
                    <img src="img/app/app-2.png" alt="Thumb">
                    <a class="popup-youtube video-play-button" href="https://www.youtube.com/watch?v=owhuBrGIOsE">
                        <i class="fa fa-play"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Video Area -->

<!-- Start Faq  
============================================= -->
<div id="faq" class="faq-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5 thumb">
                <img src="img/illustrations/2.svg" alt="Thumb">
            </div>
            <div class="col-md-7 faq-items">
                <div class="heading">
                    <h2>Answer & Question</h2>
                </div>
                <!-- Start Accordion -->
                <div class="acd-items acd-arrow">
                    <div class="panel-group symb" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#ac1">
                                        Do I need a business plan?
                                    </a>
                                </h4>
                            </div>
                            <div id="ac1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>
                                        Removing welcomed civility or hastened is. Justice elderly but perhaps expense
                                        six her are another passage. Full her ten open fond walk not down.For request
                                        general express unknown are. journey greatly or garrets. Draw door kept do so
                                        come on open mean. Estimating stimulated how reasonably precaution diminution
                                        she simplicity sir but. Questions am sincerity zealously concluded consisted or
                                        no gentleman it.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#ac2">
                                        How long should a business plan be?
                                    </a>
                                </h4>
                            </div>
                            <div id="ac2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        Removing welcomed civility or hastened is. Justice elderly but perhaps expense
                                        six her are another passage. Full her ten open fond walk not down.For request
                                        general express unknown are. journey greatly or garrets. Draw door kept do so
                                        come on open mean. Estimating stimulated how reasonably precaution diminution
                                        she simplicity sir but. Questions am sincerity zealously concluded consisted or
                                        no gentleman it.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#ac3">
                                        Where do I start?
                                    </a>
                                </h4>
                            </div>
                            <div id="ac3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        Removing welcomed civility or hastened is. Justice elderly but perhaps expense
                                        six her are another passage. Full her ten open fond walk not down.For request
                                        general express unknown are. journey greatly or garrets. Draw door kept do so
                                        come on open mean. Estimating stimulated how reasonably precaution diminution
                                        she simplicity sir but. Questions am sincerity zealously concluded consisted or
                                        no gentleman it.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Accordion -->
            </div>
        </div>
    </div>
</div>
<!-- End Faq  -->

<!-- Start Pricing Area
============================================= -->
<div id="pricing" class="pricing-area default-padding bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Our Packages</h2>
                    <p>
                        Learning day desirous informed expenses material returned six the. She enabled invited exposed
                        him another. Reasonably conviction solicitude me mr at discretion reasonable. Age out full gate
                        bed day lose.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="pricing-items">
                    <!-- <div class="col-lg-6 col-md-6 single-item">
                        <div class="pricing-item">
                            <ul>
                                <li class="pricing-header">
                                    <h4>Free</h4>
                                    <h2><sup>$</sup>0.00</h2>
                                    <span>1 User</span>
                                </li>
                                <li><i class="fas fa-times"></i> Update</li>
                                <li><i class="fas fa-check"></i> Personal use</li>
                                <li><i class="fas fa-times"></i> Support</li>
                                <li><i class="fas fa-times"></i> 2 database</li>
                                <li><i class="fas fa-check"></i> Documetation</li>
                                <li class="footer">
                                    <a class="btn circle btn-theme border btn-sm" href="#">Buy This Plan</a>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                    <div class="col-lg-6 col-md-6 single-item">
                        <div class="pricing-item">
                            <ul>
                                <li class="pricing-header">
                                    <h4>Free</h4>
                                    <h2><sup>IDR</sup>0.00</h2>
                                    <span>2,000 hits</span>
                                </li>
                                <li><i class="fas fa-times"></i> Update</li>
                                <li><i class="fas fa-check"></i> Personal use</li>
                                <li><i class="fas fa-times"></i> Support</li>
                                <li><i class="fas fa-check"></i> Documetation</li>
                                <li class="footer">
                                    <a class="btn circle btn-theme border btn-sm" href="#">Buy This Plan</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 single-item">
                        <div class="pricing-item active">
                            <ul>
                                <li class="pricing-header">
                                    <h4>Regular</h4>
                                    <h2><sup>IDR</sup>100,000.00</h2>
                                    <span>5,000 hits</span>
                                </li>
                                <li><i class="fas fa-check"></i> Update</li>
                                <li><i class="fas fa-check"></i> Official use</li>
                                <li><i class="fas fa-check"></i> Support</li>
                                <li><i class="fas fa-check"></i> Documetation</li>
                                <li class="footer">
                                    <a class="btn circle btn-theme effect btn-sm" href="#">Buy This Plan</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 single-item">
                        <div class="pricing-item">
                            <ul>
                                <li class="pricing-header">
                                    <h4>Extended</h4>
                                    <h2><sup>IDR</sup>200,000.00</h2>
                                    <span>10,000 hits</span>
                                </li>
                                <li><i class="fas fa-check"></i> Update</li>
                                <li><i class="fas fa-check"></i> Commercial use</li>
                                <li><i class="fas fa-check"></i> Support</li>
                                <li><i class="fas fa-check"></i> Documetation</li>
                                <li class="footer">
                                    <a class="btn circle btn-theme border btn-sm" href="#">Buy This Plan</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 single-item">
                        <div class="pricing-item">
                            <ul>
                                <li class="pricing-header">
                                    <h4>Premium</h4>
                                    <h2><sup>IDR</sup>400,000.00</h2>
                                    <span>25,000 hits</span>
                                </li>
                                <li><i class="fas fa-check"></i> Update</li>
                                <li><i class="fas fa-check"></i> Commercial use</li>
                                <li><i class="fas fa-check"></i> Support</li>
                                <li><i class="fas fa-check"></i> Documetation</li>
                                <li class="footer">
                                    <a class="btn circle btn-theme border btn-sm" href="#">Buy This Plan</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Pricing Area -->

<!-- Start Team Area
============================================= -->
<div id="team" class="team-area radius-less default-padding bottom-less">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Innovative Team</h2>
                    <p>
                        Part of our team that creates this project together to make the best service only for you
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="team-items text-center">
                <!-- Single Item -->
                <div class="col-md-4 single-item">
                    <div class="item">
                        <div class="thumb">
                            <img src="img/team/217116660.jpg" alt="Thumb">
                            <ul>
                                <li class="facebook">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="twitter">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="instagram">
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li class="linkedin">
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="info">
                            <h4>Steven Evan</h4>
                            <span>Co-Founder</span>
                            <h5><i class="fas fa-envelope"></i> steven10@mhs.stts.edu</h5>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 single-item">
                    <div class="item">
                        <div class="thumb">
                            <img src="img/team/217116657.jpg" alt="Thumb">
                            <ul>
                                <li class="facebook">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="twitter">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="instagram">
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li class="linkedin">
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="info">
                            <h4>Stella Vania</h4>
                            <span>Co-Founder</span>
                            <h5><i class="fas fa-envelope"></i> stella1@mhs.stts.edu</h5>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 single-item">
                    <div class="item">
                        <div class="thumb">
                            <img src="img/team/217116638.jpg" alt="Thumb">
                            <ul>
                                <li class="facebook">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="twitter">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="instagram">
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li class="linkedin">
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="info">
                            <h4>Raymond Adi</h4>
                            <span>Co-Founder</span>
                            <h5><i class="fas fa-envelope"></i> raymond3@mhs.stts.edu</h5>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Team Area -->

<!-- Start Testimonials Area
============================================= -->
<div class="testimonials-area bg-gray default-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Customer Review</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="testimonial-items testimonial-carousel owl-carousel owl-theme">
                    <!-- Single Item -->
                    <div class="item">
                        <div class="thumb">
                            <img src="img/team/218116701.jpg" alt="Thumb">
                        </div>
                        <div class="info">
                            <p>
                                Great job, I will definitely be ordering again! Since I invested in MemeNet I made over
                                100,000 dollars profits.
                            </p>
                            <h4>Richard Gunawan</h4>
                            <span>ISTTS IT Assistant</span>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="item">
                        <div class="thumb">
                            <img src="img/team/217116647.jpg" alt="Thumb">
                        </div>
                        <div class="info">
                            <p>
                                You've saved our business! We have no regrets! MemeNet was the best investment I ever
                                made.
                            </p>
                            <h4>Richard Ivan</h4>
                            <span>Freelance Web Developer</span>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="item">
                        <div class="thumb">
                            <img src="img/team/217116667.jpg" alt="Thumb">
                        </div>
                        <div class="info">
                            <p>
                                We've used MemeNet for the last five years. I wish I would have thought of it first. I
                                love MemeNet.
                            </p>
                            <h4>William Adi</h4>
                            <span>ISTTS IT Assistant</span>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials Area -->

<!-- Start Google Maps 
============================================= -->
<div class="maps-area">
    <div class="container-full">
        <div class="row">
            <div class="google-maps">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3957.55549965776!2d112.75664031520549!3d-7.291305994737445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd7fbb476048727%3A0x5f5f7cf736ae643e!2sInstitut%20Sains%20dan%20Teknologi%20Terpadu%20Surabaya%20(iSTTS)!5e0!3m2!1sen!2sid!4v1588845870941!5m2!1sen!2sid"></iframe>
            </div>
        </div>
    </div>
</div>
<!-- End Google Maps -->

<!-- Start Footer 
============================================= -->
<footer class="default-padding-top bg-light">
    <div class="container">
        <div class="row">
            <div class="f-items">
                <div class="col-md-4 col-sm-6 equal-height item">
                    <div class="f-item">
                        <img src="img/logo.png" alt="Logo">
                        <p>
                            MemeNet is a Service Oriented Architecture Project. We build a service for collecting meme
                            around the world. We hope you enjoy our incredible service.
                        </p>
                        <p>
                            <i>Please write your email and get our amazing updates, news and support</i>
                        </p>
                        <div class="newsletter">
                            <form action="#">
                                <div class="input-group stylish-input-group">
                                    <input type="email" name="email" class="form-control"
                                        placeholder="Enter your e-mail here">
                                    <button type="submit">
                                        <i class="fa fa-paper-plane"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 equal-height item">
                    <div class="f-item link">
                        <h4>Quick LInk</h4>
                        <ul>
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">About us</a>
                            </li>
                            <li>
                                <a href="#">Compnay History</a>
                            </li>
                            <li>
                                <a href="#">Management </a>
                            </li>
                            <li>
                                <a href="#">Features</a>
                            </li>
                            <li>
                                <a href="#">Blog Page</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 equal-height item">
                    <div class="f-item link">
                        <h4>Community</h4>
                        <ul>
                            <li>
                                <a href="#">Career</a>
                            </li>
                            <li>
                                <a href="#">Leadership</a>
                            </li>
                            <li>
                                <a href="#">Strategy</a>
                            </li>
                            <li>
                                <a href="#">Services</a>
                            </li>
                            <li>
                                <a href="#">History</a>
                            </li>
                            <li>
                                <a href="#">Jobs</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 equal-height item">
                    <div class="f-item twitter-widget">
                        <h4>Contact Info</h4>
                        <p>
                            Jalan Ngagel Jaya Tengah No 73-77 <br /> Surabaya, Indonesia
                        </p>
                        <div class="address">
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-home"></i>
                                    </div>
                                    <div class="info">
                                        <h5>Website:</h5>
                                        <span>meme.cium.in</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="info">
                                        <h5>Email:</h5>
                                        <span>support@meme.cium.in</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-phone"></i>
                                    </div>
                                    <div class="info">
                                        <h5>Phone:</h5>
                                        <span>+62-34-5678-9012</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Footer Bottom -->
    <div class="footer-bottom default-padding-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="col-lg-6 col-md-6 col-sm-7">
                        <p>&copy; Copyright <%= new Date().getFullYear() %> . <a href="">MemeNet</a></p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-5 text-right link">
                        <ul>
                            <li>
                                <a href="#">Terms of user</a>
                            </li>
                            <li>
                                <a href="#">License</a>
                            </li>
                            <li>
                                <a href="#">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom -->
</footer>
<!-- End Footer -->
<%- include('layouts/front/footer'); %>