<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <!--
        REQUIRED META TAG
        ============================================= -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Site Title -->
    <title>MemeNet</title>

    <script src="/vendor/pace/pace.min.js"></script>

    <!-- Main structure css file -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/authfy/css/login7-style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/select2/dist/css/select2.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/sweetalert2/dist/sweetalert2.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    />
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if IE]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
      .pace {
        -webkit-pointer-events: none;
        pointer-events: none;

        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      .pace-inactive {
        display: none;
      }

      .pace .pace-progress {
        background: #29b6f6;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        box-shadow: 0px 0.5px 1px lightgray;
      }
    </style>
    <style>
      .grecaptcha-badge {
        visibility: hidden;
      }
    </style>
  </head>

  <body>
    <!-- Start Preloader -->
    <div id="preload-block">
      <div class="square-block"></div>
    </div>
    <!-- Preloader End -->

    <div class="container-fluid">
      <div class="row">
        <div
          class="authfy-container col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3"
        >
          <div class="col-sm-5 authfy-panel-left">
            <div class="brand-col">
              <div class="headline">
                <!-- brand-logo start -->
                <div class="brand-logo">
                  <img src="/img/logo.png" width="150" alt="brand-logo" />
                </div>
                <!-- ./brand-logo -->
                <p>Login using social media to get quick access</p>
                <!-- social login buttons start -->
                <div class="row social-buttons">
                  <div class="col-xs-4 col-sm-4 col-md-12">
                    <a
                      href="#"
                      class="btn btn-block btn-facebook"
                      onclick="alert('This feature is currently not available'); return false;"
                      disabled
                    >
                      <i class="fa fa-facebook"></i>
                      <span class="hidden-xs hidden-sm"
                        >Signin with facebook</span
                      >
                    </a>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-12">
                    <a
                      href="#"
                      class="btn btn-block btn-google"
                      onclick="alert('This feature is currently not available'); return false;"
                      disabled
                    >
                      <i class="fa fa-google-plus"></i>
                      <span class="hidden-xs hidden-sm"
                        >Signin with google</span
                      >
                    </a>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-12">
                    <a
                      href="#"
                      class="btn btn-block btn-linkedin"
                      onclick="alert('This feature is currently not available'); return false;"
                      disabled
                    >
                      <i class="fa fa-linkedin"></i>
                      <span class="hidden-xs hidden-sm"
                        >Signin with Linkedin</span
                      >
                    </a>
                  </div>
                </div>
                <!-- ./social-buttons -->
                <p style="font-size: 0.75em; margin-top: 10px;">
                  This site is protected by reCAPTCHA and the Google
                  <a href="https://policies.google.com/privacy"
                    >Privacy Policy</a
                  >
                  and
                  <a href="https://policies.google.com/terms"
                    >Terms of Service</a
                  >
                  apply.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-7 authfy-panel-right">
            <!-- authfy-login start -->
            <div class="authfy-login">
              <!-- panel-login start -->
              <div class="authfy-panel panel-login text-center active">
                <div class="authfy-heading">
                  <h3 class="auth-title">Masuk Sekarang</h3>
                  <p>
                    Belum memiliki akun?
                    <a class="lnk-toggler" data-panel=".panel-register" href="#"
                      >Daftar Sekarang!</a
                    >
                  </p>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <div id="loginForm" name="loginForm" class="loginForm">
                      <div class="form-group wrap-input">
                        <input
                          type="text"
                          class="form-control"
                          name="email"
                          placeholder="Email"
                          id="login_email"
                          required
                        />
                        <span class="focus-input"></span>
                      </div>
                      <div class="form-group wrap-input">
                        <div class="pwdMask">
                          <input
                            type="password"
                            class="form-control password"
                            name="password"
                            id="login_password"
                            placeholder="Password"
                            required
                          />
                          <span class="focus-input"></span>
                          <span class="fa fa-eye-slash pwd-toggle"></span>
                        </div>
                      </div>
                      <!-- start remember-row -->
                      <div class="row remember-row">
                        <div class="col-xs-6 col-sm-6">
                          <label class="checkbox text-left">
                            <input
                              type="checkbox"
                              name="remember"
                              value="remember-me"
                            />
                            <span class="label-text">Ingat Saya</span>
                          </label>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                          <p class="forgotPwd">
                            <a
                              class="lnk-toggler"
                              data-panel=".panel-forgot"
                              href="#"
                              >Lupa Password?</a
                            >
                          </p>
                        </div>
                      </div>
                      <div class="form-group">
                        <button
                          class="btn btn-lg btn-primary btn-block g-recaptcha"
                          onclick="tryLogin()"
                        >
                          Masuk
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ./panel-login -->
              <!-- panel-register start -->
              <div
                class="authfy-panel panel-register text-center"
                style="
                  overflow-y: scroll;
                  box-sizing: content-box;
                  padding: 10px;
                "
              >
                <div class="row" style="padding-bottom: 20px;">
                  <div class="col-xs-12 col-sm-12">
                    <div class="authfy-heading">
                      <h3 class="auth-title">Daftar Sekarang!</h3>
                    </div>
                    <div id="registerForm" name="signupForm" class="signupForm">
                      <div class="form-group wrap-input">
                        <input
                          type="email"
                          class="form-control"
                          name="email"
                          placeholder="Email"
                          id="register_email"
                          required
                        />
                        <span class="focus-input"></span>
                      </div>
                      <div class="form-group wrap-input">
                        <input
                          type="text"
                          class="form-control"
                          name="name"
                          placeholder="Name"
                          id="register_name"
                          required
                        />
                        <span class="focus-input"></span>
                      </div>
                      <div class="form-group wrap-input">
                        <div class="pwdMask">
                          <input
                            type="password"
                            class="form-control"
                            name="password"
                            id="register_password"
                            placeholder="Password"
                            required
                          />
                          <span class="focus-input"></span>
                          <span class="fa fa-eye-slash pwd-toggle"></span>
                        </div>
                      </div>
                      <div class="form-group wrap-input">
                        <div class="pwdMask">
                          <input
                            type="password"
                            class="form-control"
                            name="password_confirmation"
                            id="register_cpassword"
                            placeholder="Konfirmasi Password"
                            required
                          />
                          <span class="focus-input"></span>
                          <span class="fa fa-eye-slash pwd-toggle"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <p class="term-policy text-muted small">
                          Saya setuju dengan
                          <a href="#">kebijakan privasi</a> dan
                          <a href="#">ketentuan layanan</a>.
                        </p>
                      </div>
                      <div class="form-group">
                        <button
                          class="btn btn-lg btn-primary btn-block g-recaptcha"
                          onclick="tryRegister()"
                        >
                          Daftar
                        </button>
                      </div>
                    </div>
                    <a class="lnk-toggler" data-panel=".panel-login" href="#">
                      Sudah memiliki Akun?
                    </a>
                  </div>
                </div>
              </div>
              <!-- ./panel-register -->
              <!-- panel-forget start -->
              <div class="authfy-panel panel-forgot">
                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <div class="authfy-heading">
                      <h3 class="auth-title">Pulihkan Password Anda</h3>
                      <p>
                        Isikan email Anda pada form di bawah dan kami akan email
                        yang berisi instruksi lebih lanjut
                      </p>
                    </div>
                    <form
                      id="forgotForm"
                      name="forgetForm"
                      class="forgetForm"
                      action="#"
                      method="POST"
                    >
                      <div class="form-group wrap-input">
                        <input
                          type="email"
                          class="form-control"
                          name="username"
                          placeholder="Email"
                        />
                        <span class="focus-input"></span>
                      </div>
                      <div class="form-group">
                        <button
                          class="btn btn-lg btn-primary btn-block g-recaptcha"
                          data-callback="captchaForgot"
                          type="submit"
                        >
                          Pulihkan Password
                        </button>
                      </div>
                      <div class="form-group">
                        <a
                          class="lnk-toggler"
                          data-panel=".panel-login"
                          href="#"
                          >Sudah memiliki akun?</a
                        >
                      </div>
                      <div class="form-group">
                        <a
                          class="lnk-toggler"
                          data-panel=".panel-register"
                          href="#"
                          >Belum memiliki akun?</a
                        >
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- ./panel-forgot -->
            </div>
            <!-- ./authfy-login -->
          </div>
        </div>
      </div>
      <!-- ./row -->
    </div>
    <!-- ./container -->

    <!-- Javascript Files -->

    <!-- initialize jQuery Library -->
    <script src="/vendor/authfy/js/jquery-2.2.4.min.js"></script>

    <!-- for Bootstrap js -->
    <script src="/vendor/authfy/js/bootstrap.min.js"></script>

    <!-- Custom js-->
    <script src="/vendor/authfy/js/custom.js"></script>
    <script src="/vendor/select2/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script
      src="/vendor/sweetalert2/dist/sweetalert2.min.js"
      type="text/javascript"
    ></script>
    <script src="/vendor/custom/basic.js" type="text/javascript"></script>

    <script>
      $(document).ready(function () {
        $("select:not(.swal2-select)").select2();
        var baseUrl = "/";
        $(".lnk-toggler").on("click", function (t) {
          var obj = {
            Title:
              $(this).data("panel").split("-")[1].charAt(0).toUpperCase() +
              $(this).data("panel").split("-")[1].slice(1) +
              " - " +
              document.title.split(" - ")[1],
            Url: baseUrl + "/" + $(this).data("panel").split("-")[1],
          };
          document.title = obj.Title;
          history.pushState(obj, obj.Title, obj.Url);
        });
      });

      function tryLogin() {
        $.ajax({
          url: "/api/user/login",
          method: "POST",
          data: {
            email: $("#login_email").val(),
            password: $("#login_password").val(),
          },
        })
          .done(() => {
            window.location = "/dashboard";
          })
          .fail((error) => {
            toastr.error(error.responseJSON.message);
            if (error.responseJSON.errors) {
              const errors = error.responseJSON.errors;
              for (let err of errors) {
                toastr.error(err.msg);
              }
            }
          });
      }

      function tryRegister() {
        $.ajax({
          url: "/api/user/register",
          method: "POST",
          data: {
            name: $("#register_name").val(),
            email: $("#register_email").val(),
            password: $("#register_password").val(),
            password_confirmation: $("#register_cpassword").val(),
          },
        })
          .done(() => {
            window.location = "/login";
          })
          .fail((error) => {
            toastr.error(error.responseJSON.message);
            if (error.responseJSON.errors) {
              const errors = error.responseJSON.errors;
              for (let err of errors) {
                toastr.error(err.msg);
              }
            }
          });
      }
    </script>
  </body>
</html>
